[Desktop Entry]
Name=WuWaSimpleFPSUnlocker
Exec=wuwa-simple-fps-unlocker
Icon=wuwa-simple-fps-unlocker
Type=Application
Keywords=fps;unlocker;
Categories=Utility;